/* Header */
.header__navigation {
    padding: 0 0 5px 0;
}

.navigation__items {
    justify-content: center;
    width: 60%;
}

.navigation__items .navigation__item {
    margin: 0 18px;
}

.navigation__button {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 160px;
    width: 20%;
    height: 56px;

    border: var(--black) 3px solid;
    border-radius: 2px;
    box-shadow: 9px 9px 5px -8px rgba(0,0,0,0.38);
    -webkit-box-shadow: 9px 9px 5px -8px rgba(0,0,0,0.38);
    -moz-box-shadow: 9px 9px 5px -8px rgba(0,0,0,0.38);
}

.navigation__button a{
    padding: 10px 32px 10px 32px;

    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
}

/* Main */
.presentation__introduction {
    margin: 24px 0 0 0;
    width: 50%;
}

.presentation__introduction .presentation__title {
    font-size: 4.2rem;
}

.presentation__introduction .presentation__description {
    max-width: 320px;
    margin: 16px 0 16px 0;

    font-size: 2rem;
}

.presentation__introduction .presentation__cta .presentation__anchor-text {
    font-size: 1.6rem;
}

.presentation_skills {
    padding: 24px 15% 24px 24px;
}

.presentation_skills .presentation__amount {
    font-size: 2.8rem;
}

.presentation_skills .presentation__info {
    max-width: 180px;
    font-size: 1.4rem;
}

.presentation__image {
    width: 60%;
}

.presentation__form .newsletter-form {
    left: calc(50% - 225px);
    bottom: 85px;

    max-width: 450px;
    width: 450px;
    height: 60px;
}

.presentation__form .newsletter-form input[type="email"] {
    width: 87%;
    font-size: 1.4rem;
}

.presentation__form .newsletter-form button {
    width: 40px;
    height: 40px;
}

.cards {
    margin: 45px 0 0 0;
}

.cards__title {
    margin: 0 0 45px 0;
}

.cards__title {
    font-size: 2rem;
}

.cards__card .card__title h2{
    font-size: 1.8rem;
}

.cards__card .card__description {
    font-size: 1.6rem;
    font-weight: 500;
}

.cards__card .card__logo .card__logo_mobile,
.cards__card .card__logo .card__logo_e-commerce,
.cards__card .card__logo .card__logo_terminal {
    width: 40px;
    height: 40px;
}

.cards__card .card__testimonial .card__image .card__image_testimonial-1,
.cards__card .card__testimonial .card__image .card__image_testimonial-2,
.cards__card .card__testimonial .card__image .card__image_testimonial-3 {
    width: 100px;
    height: 100px;
}

.cards__card .card__testimonial .card__info .card__position span{
    font-size: 1.5rem;
}

.contact .contact__title {
    font-size: 2rem;
}

.contact .contact__form {
    width: 51.5%;
}

.contact .contact__form label input,
.contact .contact__form label textarea {
    font-size: 1.5rem;
}

.contact .contact__body .contact__phrase {
    display: inline-block;
    width: 35%;

    font-size: 1.6rem;
    font-weight: 500;
    text-align: justify;
}