/*
Order of elements
    1. Positioning
    2. Box model
    3. Typography
    4. Visuals
    5. Others
*/

/*
Typography used
    font-family: 'Poppins', sans-serif;
    weight: 300, 400, 700
*/

/*
Variables
*/
:root {
    --purple: #5860FF;
    --black: #171717;
    --white: #FAFAFA;
    --gray: #78807f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--white);
}

/* Header */
header {
    min-width: 288px;
    width: 90%;
    margin: auto;
}

.header__navigation {
    min-width: 288px;
    margin: 16px auto 0 auto;
}


.navigation__logo {
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
}

.navigation__logo a {
    text-decoration: none;
    color: var(--black);
}

.navigation__logo span {
    color: var(--purple);
}

.navigation__items {
    display: none;
    text-align: center;
}

.navigation__items .navigation__item {
    margin: 5px 0 5px 0;

    font-size: 1.6rem;
    font-weight: 500;
    list-style: none;
}

.navigation__item a{
    text-decoration: none;
    color: var(--gray);

    border-style: solid;
    border-width: 0 0 1px 0;
}

.navigation__button {
    display: none;
}

/* Main */
main {
    min-width: 288px;
    width: 90%;
    margin: auto;
}

.presentation__introduction {
    margin: 18px 0 0 0;
}

.presentation__introduction .presentation__title {
    display: block;

    font-size: 2.8rem;
    font-weight: 700;
    line-height: 36px;
}

.presentation__introduction .presentation__description {
    margin: 12px 0 12px 0;
    max-width: 260px;

    font-size: 1.4rem;
    font-weight: 500;
}

.presentation__introduction .presentation__cta a{
    text-decoration: none;
}

.presentation__introduction .presentation__cta .presentation__anchor-text{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 50px;
    margin: 0 0 10px 0;

    font-size: 1.4rem;
    font-weight: 500;

    border-radius: 2px;
}

.presentation__introduction .presentation__cta .presentation__anchor-text_purple {
    background-color: var(--purple);
    color: var(--white);
}

.presentation__introduction .presentation__cta .presentation__anchor-text_white {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: inherit;
    color: var(--black);
}

.presentation__introduction .presentation__cta .presentation__arrow-up-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('../assets/icons/arrow_up-black.svg');
    background-size: contain;
}

.presentation_skills {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 18px;
    margin: 20px 0 0 0;

    color: var(--white);
    background-color: var(--black);
}

.presentation_skills .presentation__data {
    display: flex;
    flex-wrap: wrap;

    margin: 0 10px 0 10px;
}

.presentation_skills .presentation__amount {
    width: 100%;
    max-height: 40px;
    padding: 0 0 10px 0;

    font-size: 2.4rem;
    font-weight: 500;

    border-image: linear-gradient(to right, var(--purple), darkorchid) 1;
    border-bottom: 1px transparent solid;
}

.presentation_skills .presentation__info {
    margin: 4px 0 0 0;
    max-width: 165px;

    font-size: 1.2rem;
}

.presentation__image {
    display: none;
}

.presentation__image .presentation__img {
    width: 100%;
    height: 240px;

    background-image: url("https://images.unsplash.com/photo-1513673054901-2b5f51551112?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cards {
    margin: 35px 0 0 0;
}

.cards__title {
    margin: 0 0 35px 0;
}

.cards__card {
    padding: 16px;
    margin: 0 0 30px 0;

    background: #f9f9f9;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 2px -1px 24px -16px rgba(0,0,0,1);
    -webkit-box-shadow: 2px -1px 24px -16px rgba(0,0,0,1);
    -moz-box-shadow: 2px -1px 24px -16px rgba(0,0,0,1);
}

.cards__title {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}

.cards__card .card__title {
    margin: 16px 0 0 0;
}

.cards__card .card__title h2 {
    font-size: 1.6rem;
}

.cards__card .card__description {
    font-size: 1.2rem;
    font-weight: 500;
}

.cards__card .card__logo .card__logo_mobile {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/devices.svg');
    background-size: contain;
}

.cards__card .card__logo .card__logo_e-commerce {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/shopping_cart.svg');
    background-size: contain;
}

.cards__card .card__logo .card__logo_terminal {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/terminal.svg');
    background-size: contain;
}

.cards__card .card__image .card__image_portfolio-1 {
    display: inline-block;
    width: 100%;
    height: 200px;
    border-radius: 4px;

    background-image: url('https://images.unsplash.com/photo-1607799279861-4dd421887fb3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
}

.cards__card .card__image .card__image_portfolio-2 {
    display: inline-block;
    width: 100%;
    height: 200px;
    border-radius: 4px;

    background-image: url('https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80');
    background-size: cover;
}

.cards__card .card__image .card__image_portfolio-3 {
    display: inline-block;
    width: 100%;
    height: 200px;
    border-radius: 4px;

    background-image: url('https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
}

.cards__card .card__testimonial {
    display: flex;
    margin: 0 0 8px 0;

    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cards__card .card__testimonial .card__image {
    display: inline;
    padding: 0 16px 0 0;
}

.cards__card .card__testimonial .card__image .card__image_testimonial-1 {
    display: inline-block;
    width: 65px;
    height: 65px;
    border-radius: 4px;

    background-image: url('https://images.unsplash.com/photo-1560250097-0b93528c311a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
}

.cards__card .card__testimonial .card__image .card__image_testimonial-2 {
    display: inline-block;
    width: 65px;
    height: 65px;
    border-radius: 4px;

    background-image: url('https://images.unsplash.com/photo-1616325629936-99a9013c29c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
}

.cards__card .card__testimonial .card__image .card__image_testimonial-3 {
    display: inline-block;
    width: 65px;
    height: 65px;
    border-radius: 4px;

    background-image: url('https://images.unsplash.com/photo-1524255684952-d7185b509571?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
}


.cards__card .card__testimonial .card__info .card__name h2 {
    font-size: 1.6rem;
    font-weight: 700;
}

.cards__card .card__testimonial .card__info .card__position span {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray);
}

.contact {
    margin: 35px 0 0 0;
}

.contact .contact__title {
    margin: 0 0 20px 0;

    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}


.contact .contact__body .contact__phrase {
    display: none;
}

.contact .contact__form {
    display: flex;
    flex-direction: column;
}

.contact .contact__form label {
    display: flex;
    flex-direction: column;
}

.contact .contact__form label span {
    font-size: 1.5rem;
    font-weight: 500;

    margin: 8px 0 8px 0;
}

.contact .contact__form label input,
.contact .contact__form label textarea {
    min-width: 288px;
    width: 100%;

    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--black);

    background: var(--white);
    border: 1px solid var(--black);
    /*border-image: linear-gradient(to right, var(--purple), darkorchid) 1;*/
    border-radius: 2px;
}

.contact .contact__form label input {
    padding: 10px;
    height: 32px;
}

.contact .contact__form label input:focus {
    color: var(--black);
    outline: none;
}

.contact .contact__form label textarea {
    padding: 10px;
    height: 150px;
}

.contact .contact__form label textarea {
    color: var(--black);
    outline: none;
}

.contact .contact__form .contact__submit {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 24px 0 0 0;
    height: 42px;

    font-size: 1.4rem;
    font-weight: 500;

    border-radius: 2px;
    background-color: var(--purple);
    color: var(--white);
    border: none;
}



.footer {
    margin: 120px 0 0 0;
    /*height: 100px;
    background-color: var(--black);*/
}