/* Header */
body{
    min-width: 588px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;

    border-bottom: rgba(0,0,0,0.38) 1px solid;
    box-shadow: 0px 9px 5px -10px rgba(0,0,0,0.32);
    -webkit-box-shadow: 0px 9px 5px -10px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 9px 5px -10px rgba(0,0,0,0.32);
}

.navigation__logo  {
    width: 20%;
    max-width: 124px;
}

.navigation__items {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation__items .navigation__item {
    margin: 0 12px;
    font-size: 1.8rem;
}

.navigation__item a {
    border: none;
}

.navigation__item a:hover,
.navigation__item a:active {
    color: var(--black);
}

/* Main */
.presentation{
    display: flex;
}

.presentation__introduction {
    margin: 24px 0 0 0;
    width: 55%;
}

.presentation__introduction .presentation__title {
    font-size: 3.4rem;
}

.presentation__introduction .presentation__description {
    font-size: 1.6rem;
}

.presentation__introduction .presentation__cta {
    display: flex;
}

.presentation_skills {
    border-radius: 2px 0 0 2px;
}

.presentation_skills .presentation__amount {
    max-height: 50px;
    font-size: 2.6rem;
}

.presentation__image {
    display: block;
    width: 50%;
}

.presentation__image .presentation__img {
    height: 100%;
    border-radius: 0 0 2px 0;
}

.presentation__form .newsletter-form{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 75px;
    left: calc(50% - 120px);

    max-width: 240px;
    width: 240px;
    height: 50px;

    background: var(--white);
    border-radius: 2px;
}

.presentation__form .newsletter-form input[type="email"] {
    width: 80%;
    padding: 10px;
    margin: 0 0 0 5px;


    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--gray);

    background: var(--white);
    border: none;
}

.presentation__form .newsletter-form input[type="email"]:focus {
    font-weight: 500;
    color: var(--black);
    outline: none;
}

.presentation__form .newsletter-form button{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border: none;
    border-radius: 2px;
    background: var(--black);
}

.presentation__form .newsletter-form .newsletter-form__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('../assets/icons/arrow_up-white.svg');
    background-size: contain;
}